@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
    background-color: #4C24FF;
}

.text {
    color: #FFFFFF;
    font-family: 'Bebas Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 900px;
}

@media (max-width: 400px) {
    .text {
        margin: 20px 30px;
        font-size: 20px;
    }

    img.logo {
        margin-left: 30px;
        width: 122px;
    }
}

@media (min-width: 401px) {
    .text {
        margin: 30px 40px;
        font-size: 26px;
    }

    img.logo {
        margin-left: 40px;
        width: 153px;
    }
}

@media (min-width: 992px) {
    .text {
        margin: 50px 60px;
        font-size: 32px;
    }

    img.logo {
        margin-left: 60px;
        width: 192px;
    }
}

@media (min-width: 1200px) {
    .text {
        margin: 80px 100px;
        font-size: 40px;
    }

    img.logo {
        margin-left: 100px;
        width: 240px;
    }
}
