@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
    background-color: #4C24FF;
}

.text {
    color: #FFFFFF;
    font-family: 'Bebas Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 1000px;
    font-size: 3.0rem;
    margin: 2.1em 1.666em;
}

.logo {
    margin-top: 1.25em;
    width: 5.83em;
    display: block;
}

@media (max-width: 400px) {
    .text {
        font-size: 1.5rem;
    }
}

@media (min-width: 401px) {
    .text {
        font-size: 2.0rem;
    }
}

@media (min-width: 900px) {
    .text {
        font-size: 2.5rem;
    }
}
